body {
  background-color: #006266;
}
button {
  margin: 1px;
}
.my-container {
  margin-top: 100px;
  color: white;
  border: 1px solid #006266;
  margin: 100px 50px;
}

.heading {
  display: flex;
  justify-content: center;
}

.clock {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #006266;
  width: 100%;
}

.trio {
  display: flex;
  justify-content: space-around;
}

#timer-label {
  margin-top: 60px;
  max-width: 250px;
  border: 3px solid #ffc312;
  border-radius: 8px;
  padding: 10px 30px;
  text-align: center;
}

.holder {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}
